
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/*Header*/
.header{
	background-color: #ff914d;
	display:flex;
	flex-direction: column;
}

.head{
	border-bottom: 2px solid red;
}




.cvphoto{
	border-radius: 50%;
}

.objective{
	margin-left: 20px;
	margin-top: 30px;
}


.title-name{
	font-family: 'Ubuntu', sans-serif;
	color: #000000;
	font-size:45px;
	font-weight:bolder;
}

.title-profession{
	margin-top: 20px;
	font-family: 'Ubuntu', sans-serif;
	color: #000000;
	font-weight: bolder;
}


/*Objective and Skills*/

.objective{
	margin-top: 50px;
}

.title-objective{
	font-family: 'Ubuntu', sans-serif;
	font-weight: bolder;
}

.skills{
	font-family: 'Arimo', sans-serif;
	padding-top:20px;
	font-size: 19px;
	font-weight: bolder;
}

.title-bio{
	font-family: 'Arimo', sans-serif;
	padding-top: 20px;
	font-size: 18px;
	font-weight: bolder;
}

.title-skills{
	font-family: 'Ubuntu', sans-serif;
	font-weight: bolder;
}


/*Education*/

.education{
	
	margin-top: 0px;
	margin-left: 20px;
	padding-top: 20px;
}

.border-edu{
	border-top: 3px solid #000;
}

.border-edu1{
	border-top: 3px solid #fff;
}

.location{
	font-family: 'Arimo', sans-serif;
	font-size: 19px;
}

.description-edu1,.description-edu2,.description-work1,.description-work2{
	font-family: 'Arimo', sans-serif;
	font-size: 19px;
	font-weight: bolder;
	color: #646464;
}

.place1,.place2,.place3,.place4{
	font-family: 'Arimo', sans-serif;
	font-size: 20px;
	font-weight: bolder;
}

.title1,.title2{
	font-family: 'Arimo', sans-serif;
	font-size: 19px;
}


.comit{
	padding-top: 20px;
}

.terciary{
	padding-top: 20px;
}


/*Work section*/

.work{
	
	margin-top:0px;
	margin-left: 20px;
	padding-top: 20px;
}

.border-work{
	border-top: 3px solid #000;
}




.time1,.time2,.time3,.time4{
	font-family: 'Arimo', sans-serif;
	font-size: 18px;
}


.title-work1,.title-work2{
	font-family: 'Arimo', sans-serif;
	font-size: 20px;
	font-weight: bolder;
}

.courts{
	padding-top: 20px;
}


.adm{
	padding-top: 20px;
}



/*Contact */

.item1,.item2,.item3,.item4,.item5,.item6{
	margin-top: 40px;
}

.title-contact{
	margin-top: 100px;
	color: #000000;
}

.text-item{
	color: #000000;
	font-weight: bolder;
	margin-top: 20px;
	font-size: 17px;
}

.svgwhatsapp{
	fill:#25d366;
}


.svglinkedin{
	fill:#007bb6;
}


.svggithub{
	fill:#181617;
}


.whatsapp{
	background-color: #fff;
}


.linkedin{
	background-color: #fff;
}


.github{
	background-color: #fff;
}


